<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningManagementSystem</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>
  <ANY ng-controller="mycontroller">
    <drawer position="left" content="#myContent">
        <ul>
            ...
            <li><a ng-click="close()">Close</a></li>
        </ul>
    </drawer>

    <ANY id="myContent">
        <a ng-click="open()">Open</a>
    </ANY>
</ANY>
</body>
</html>
